@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body 
{
  background-color: #F3DFC1;
  margin: 0px;
}

#sortable 
{
  width: 75%;
  min-width: 75%;
  margin: auto;
  background-color: #FFFFFF;
  -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .1);
  /* box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .1); */
  filter: drop-shadow(15px 15px #9C9C9C);
  list-style-type: none; 
  padding: 0; 
}

#sortable li
{ 
  margin: 0; 
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  line-height: 48px;
  font-size: 1.4em; 
  color: #fff;
  outline: 0;
  margin: 0;
  text-indent: 15px;
  color: black;
  font-size: 1.1em;
  position: relative;
  cursor: pointer;
  border-bottom: 1.5px solid #E8E8E8;
}
#sortable li:first-child 
{
  border-top: 0; 
  padding-top: 3px;
}
#sortable li:last-child 
{
  border-bottom: 0;
  padding-bottom: 5px;
}

.ui-sortable-placeholder 
{
  border: 2px solid #000;
  height: 45px;
  width: auto;
  background: #000;
}

.center 
{
  margin: auto;
  width: 50%;
  padding: 10px;
}

#fname
{
	height: 3rem;
}

#userinput
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: 15px/1 'Open Sans', sans-serif;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 75%;
  max-width: 750px;
  background-color: #FFFFFF;
  border: none;
  padding: 10px 11px 11px;
  border-radius: 0px;
  box-shadow: none;
  outline: none;
  margin-right: 20px;
  box-sizing: border-box; 
  overflow: hidden;
}


#sortable li:hover
{
	color: red;
}


input[type="checkbox"]
{
	width: 15px;
	height: 15px;
}

input[type="checkbox"]
{
	width: 15px;
	height: 15px;
	accent-color: green;
}

#push
{
	border: none;
	background-color: #F3DFC1;
	color: black;
	font: 15px/1  'Open Sans', sans-serif; 
	transform: scale(2.4);
}

#push:hover
{
	border: none;
	background-color: #555555;
	color: white;
	font: 15px/1  'Open Sans', sans-serif;
}

#note_entry
{
	margin-bottom: 2.5rem;
}

#centerincenter
{
  text-align: center;
  justify-content: center;
}

@media only screen and (max-width: 373px) 
{
	#userinput
	{
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  appearance: none;
	  font: 10px/1 'Open Sans', sans-serif;
	  color: #000000;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  width: 65%;
	  max-width: 750px;
	  background-color: #FFFFFF;
	  border: none;
	  padding: 10px 11px 11px;
	  border-radius: 0px;
	  box-shadow: none;
	  outline: none;
	  margin-right: 20px;
	  box-sizing: border-box; 
	  overflow: hidden;
	}
	
	#push
	{
		border: none;
		background-color: #F3DFC1;
		color: black;
		font: 15px/1  'Open Sans', sans-serif; 
		transform: scale(1.0); /* Was 2.0 originally */
	}

	#push:hover
	{
		border: none;
		background-color: #555555;
		color: white;
		font: 15px/1  'Open Sans', sans-serif;
	}
}

.strike 
{
  text-decoration: line-through;
  background-color: #e0e0e0;
}

footer
{

	position: relative;
	bottom: 0;
	width: 100%;
	font-size: 50px;	
	text-align: center;
	margin-top: 10px;
	*/
	/* margin-left: 10px; */
}


#LOGO
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 20rem;
}

@media only screen and (max-width: 660px) 
{
	#LOGO
	{
		position: relative;
		top: 0px;
		left: 0px;
		width: 10rem;
	}
}

@media only screen and (max-width: 317px) 
{
	#LOGO
	{
		position: relative;
		top: 0px;
		left: 0px;
		width: 7rem;
	}
}



.delete
{
	margin-left: 5px;
	margin-top: 7px;
	border: none;
	background: none;
	font-size:17px;
	overflow: hidden;
}


.delete:hover
{
	margin-left: 5px;
	border: none;
	color: white;
	background: slategrey;
	font-size:17px;
}